@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;


  @media screen and (min-width: 768px) {
    width: 768px;
    max-width: 668px;

  }

  @media screen and (min-width: 1200px) {
    max-width: none;
    width: 1110px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  color: #fff;
//   background-image: url(../images/bg-image.webp);
  background-size: cover;
}
