<footer class="footer">
  <div class="container">
    <form
      action=""
      id="footer-pages"
      onsubmit="
        !!this.querySelector('.footer-input').value
          ? (
            this.querySelectorAll('button[name=page]').forEach(
              b => (b.disabled = true)
            ), this.querySelector('.footer-input').value--)
          : (this.querySelector('.footer-input').disabled = true)
      "
    ></form>
    <p class="footer-license">
      &#x00A9 2021 | All Rights Reserved | Developed with &#x2764 by GoIT Students
    </p>
  </div>
</footer>
