.hero,
.hero-inputs {
  display: flex;
  flex-direction: column;
}

.hero {
  justify-content: center;
  align-items: center;
  padding: 78px 0 52px;

  @media screen and (min-width: $tablet) {
    padding: 40px 0 136px;
  }

  @media screen and (min-width: $desktop) {
    padding: 40px 0 146px;
  }
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center bottom;
  max-height: 364px;
  z-index: -1;
}
.hero-title {
  color: $accent-color;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  max-width: 212px;
  letter-spacing: 0;

  @media screen and (min-width: $tablet) {
    max-width: 353px;
    font-size: 30px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 588px;
    font-size: 50px;
  }
}

.hero-inputs {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin-top: 25px;
  gap: 25px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    max-width: 570px;
    justify-content: center;
    margin-top: 27px;
    gap: 30px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 52px;
  }
}

#search-input,
.input-countries {
  position: relative;
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  width: 270px;
  min-width: 190px;
}

.dropdown-countries,
.search-submit {
  position: absolute;
  right: 30px;
  top: 15px;
  background: none;
  padding: 0;
}

.search-submit svg {
  width: 12px;
  height: 12px;
  fill: $second-color;
}

.dropdown-countries svg {
  width: 15px;
  height: 10px;
  fill: $second-color;
}

.countries-set,
.search-form {
  position: relative;
}

.countries-block {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  display: none;
  max-height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
  overflow: auto;
  color: #000;

  @media screen and (min-width: $desktop) {
    max-height: 270px;
  }
}

.countries-set.is-open {
  .countries-block {
    display: block;
  }
  .input-countries {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.country-item {
  padding: 5px 20px;
  cursor: pointer;
  border-top: 1px solid black;
}