// .main {
//   // background-color: #000;
// }

.main.no-results {
  img{ 
    width: 150px;
    margin: 0 auto 30px;
  }
  p {
    width: 320px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
  }
}

.event-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4px;
  row-gap: 40px;
}

.event-item {
  display: flex;
  flex-direction: column;
  width: 128px;
  gap: 5px;
  text-align: center;
  color: #fff;
  background-color: black;

  img {
    height: 161px;
    object-fit: cover;
    border-radius: 50px 0;
  }
}

.event-title {
  color: $accent-color;
  font-weight: 700;
}

.event-location {
  font-weight: 600;
}