.main {
  background-image: url('../images/noise-body.webp');
  background-size: cover;

  .container {
    padding: 0;
    border-right: 1px solid #212121;
    border-left: 1px solid #212121;
  }
}

.main.no-results {
  img {
    width: 200px;
    margin: 0 auto 30px;
  }
  p {
    width: 320px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    color: $white-color;
  }
}

.event-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
  row-gap: 40px;
  justify-items: center;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.event-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 128px;
  gap: 5px;
  text-align: center;
  color: $white-color;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: -9;
    right: -10;
    width: 109px;
    height: 101px;
    opacity: 30%;
    border: 2px solid $accent-color;
    border-radius: 50px 0;
  }
  img {
    height: 161px;
    object-fit: cover;
    border-radius: 50px 0;
  }
  @media screen and (min-width: $tablet) {
    width: 180px;

    &::before {
      top: -13px;
      right: -14px;
      width: 153px;
      height: 143px;
    }
    img {
      height: 227px;
    }
  }
}

.event-title {
  color: $accent-color;
  font-weight: 700;
}

.event-location {
  font-size: 14px;
  font-weight: 600;
  
  svg {
    width: 7px;
    height: 10px;
    margin-right: 3px;
    fill: $white-color;
  }
}
