.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  opacity: 1;
  z-index: 2;
  overflow-y: auto;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  width: 100%;
  max-width: 272px;
  max-height: none;
  margin: auto;
  padding: 75px 12px 104px;
  background-color: #fff2fd;
  border-radius: 150px 0;
  color: #000;

  @media screen and (min-width: $tablet) {
    max-width: 595px;
    padding: 28px 0 56px;
    border-radius: 300px 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: 942px;
  }
}

.btn-modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  fill: #5f00d9;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 17px;
    height: 17px;
  }

  &:hover,
  &:focus {
    fill: #3c00c8;
  }
}

.modal-artist-preview {
  width: 102px;
  height: 102px;
  margin: 0 auto 18px;
  border-radius: 51px;
  object-fit: cover;
}

.modal-main {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
  }
}

.modal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    width: 40%;
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    gap: 20px;
  }
}

.modal-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #5f00d9;
}

.modal-desc {
  color: #0e0e0e;
}

.modal-artist-main {
  display: none;
  width: 233px;
  height: 416px;
  object-fit: cover;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    width: 360px;
    height: 641px;
  }
}

.modal-tickets {
  margin-top: 5px;
  padding: 10px 19px;
  font-weight: 500;
  border: 1px solid #5f00d9;
  background-color: #5f00d9;
  color: $white-color;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    
    background-color: transparent;
    color: #5f00d9;
  }
}

.modal-more {
  display: block;
  max-width: 230px;
  max-height: 40px;
  margin: 43px auto 0;

  button {
    color: #5f00d9;
    border: 1px solid #5f00d9;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 3px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #5f00d9;
      color: $white-color;
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 255px;
  }
}

body.modal-open {
  overflow: hidden;
}
