.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  opacity: 1;
  z-index: 1;
  overflow-y: scroll;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 85%;
  max-width: 272px;
  max-height: 915px;
  padding: 62px 30px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;

  @media screen and (min-width: $tablet) {
    max-width: 595px;
    max-height: 831px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 942px;
    max-height: 1023px;
  }
}

.btn-modal-close {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 25px;
  height: 25px;
  fill: #4c00fe;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    width: 17px;
    height: 17px;
  }

  &:hover {
    fill: #3c00c8;
  }
}

.modal-artist-preview {
  width: 102px;
  height: 102px;
  margin: 0 auto 18px;
  border-radius: 51px;
  object-fit: cover;
}

.modal-main {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.modal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.modal-title {
  font-weight: 600;
  color: $accent-color;
}

.modal-desc {
  color: #0e0e0e;
}

.modal-artist-main {
  display: none;
  width: 233px;
  height: 416px;
  object-fit: cover;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}
